[submodule "modules/x2go"]
	path = modules/x2go
# url = https://github.com/ngiger/puppet-x2go
	url = git@github.com:ngiger/puppet-x2go.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/jenkins"]
	path = modules/jenkins
	url = git://github.com/rtyler/puppet-jenkins.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
