<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= ' Elexis-Cockpit '+  @title  %></title>  
  <link href="/reset.css" rel="stylesheet">  
  <link href="/style.css" rel="stylesheet">  
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">Elexis-Cockpit</a></h1>  
      <h2>damit Sie es leichter haben</h2>  
    </hgroup>  
  </header>  
  
  <div id="main">  
    <%= yield %>  
  </div>  
  
  <footer>  
    <p><small><a href="http://www.medelexis.ch">(Med-)</a><a href="http://elexis.info">Elexis</a>. Eine freie Software für Schweizer Arztpraxen! (&copy; 2013 <a href="mailto:niklaus.giger@member.fsf.org">Niklaus Giger)</a></small></p>  
  </footer>  
</body>
</html>